.movie-card {
    display: flex;
    flex-direction: column;
    background-color: #222222;
    height: 281px;
    max-width: 364px;
    padding: 0;
    margin: 0;
    border-radius: 6px;
}

.movie-card__image {
    height: 203px;
    width: 100%;
}

.movie-card__title {
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    margin-top: 13px;
    height: 16px;
}

.movie-card__name {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 280px;
}

.movie-card__duration {
    padding: 0 16px;
    margin-top: 17px;
    color: #8B8B8B;
    font-size: 11px;
    font-weight: 200;
    font-style: normal;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .movie-card {
        height: 262px;
        gap: 15px;
    }
    .movie-card__image {
        height: 190px;
    }
    .movie-card__title {
        margin: 0;
    }
    .movie-card__name {
        margin: 0;
        font-size: 13px;
    }
    .movie-card__duration {
        margin: 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .movie-card {
        height: 237px;
        gap: 10px;
    }
    .movie-card__image {
        height: 168px;
    }
    .movie-card__title {
        padding: 0 14px;
    }
    .movie-card__name {
        font-size: 12px;
    }
    .movie-card__duration {
        font-size: 10px;
        padding: 0 14px;
    }
}
