.profile {
    min-height: 626px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 700px;
}

.profile__title {
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.profile__form {
    display: flex;
    flex-direction: column;
}

.profile__form_item {
    border: none;
    display: flex;
    flex-direction: column;
    margin-top: 123px;
    margin-bottom: 220px;
}

.profile__form_label {
    display: flex;
    justify-content: space-between;
    color: #fff;
    text-align: left;
    font-size: 11px;
    font-style: normal;
    font-weight: 200;
    width: 440px;
    padding-bottom: 17px;
}

.profile__form_input {
    color: #fff;
    text-align: right;
    font-size: 11px;
    font-style: normal;
    font-weight: 200;
    border: none;
    background-color: #202020;
    width: 130px;
}

.profile__form_label-email {
    border-top: 1px solid #424242;
    padding-top: 17px;
}

.profile__button {
    border: none;
    background-color: #202020;
    color: #fff;
    font-size: 13px;
    font-style: normal;
    font-weight: 200;
}

.profile__button_signout {
    color: #EE3465;
    margin-top: 16px;
}