.burger-button {
    border: none;
    background-color: #202020;
    background-image: url('../../images/burger-button.svg');
    width: 44px;
    height: 44px;
    display: none;
    cursor: pointer;
}

.burger-button:hover {
    opacity: 0.6;
}

.burger-button_main {
    background-color: #073042;
}

@media screen and (max-width: 768px) {
    .burger-button {
        display: flex;
    }
}