.portfolio {
    min-height: 439px;
    height: 100%;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 70px;
    cursor: default;
}

.portfolio__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
    margin-bottom: 50px;
    margin-top: 0;
}

.portfolio__list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.portfolio__list_item {
    border-bottom: 1px solid #E8E8E8;
    padding: 0 0 19px;
    margin: 0 0 20px;
}

.portfolio__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
}

.portfolio__link:hover {
    opacity: 0.6;
}

.portfolio__link_pic {
    height: 20px;
    width: 20px;
    padding-right: 6px;
    padding-top: 6px;
}

@media screen and (max-width: 768px) {
    .portfolio {
        padding: 70px 50px 0;
        min-height: 376px;
        height: 100%;
    }
    .portfolio__link {
        font-size: 28px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .portfolio {
        padding: 70px 14px 0;
        min-height: 360px;
    }
    .portfolio__title {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 40px;
    }
    .portfolio__link {
        font-size: 18px;
        line-height: 28px;
    }
    .portfolio__link_pic {
        width: 10px;
        height: 10px;
        padding-right: 4px;
        padding-top: 0;
    }
}