.promo {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 524px;
    padding: 0;
    margin: 0;
    background-color: #073042;
}

.promo__title {
    display: flex;
    align-items: center;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    max-width: 730px;
    min-height: 320px;
    width: 100%;
    text-align: center;
    letter-spacing: -0.04em;
    margin: auto;
    background-image: url('../../images/promo-logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: default;
    margin-bottom: 123px;
}

@media screen and (max-width: 768px) {
    .promo {
        min-height: 770px;
        padding-bottom: 15px;
    }
    .promo__title {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .promo {
        min-height: 570px;
        padding-bottom: 0;
    }
    .promo__title {
        font-size: 31px;
        line-height: 39px;
        background-size: 248px;
        margin-bottom: 30px;
    }
}