.filter-checkbox {
    min-height: 20px;
    margin-top: 41px;
}

.filter-checkbox__switch {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 174px;
}

.filter-checkbox__checkbox {
    width: 36px;
    height: 20px;
    background-color: #3DDC84;
    position: relative;
    -webkit-appearance: none;
    outline: none;
    border-radius: 20px;
    transition: .5s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}

.filter-checkbox__checkbox:checked {
    background-color: #EBEBEB;
}

.filter-checkbox__checkbox::before {
    content: '';
    position: absolute;
    left: 18px;
    top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 20px;
    background-color: #fff;
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.filter-checkbox__checkbox:checked::before {
    left: 2px;
}