.techs {
    min-height: 625px;
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 70px;
    margin: 0;
    cursor: default;
}

.techs__title {
    color: #fff;
    font-style: normal;
    font-size: 22px;
    letter-spacing: -0.04em;
    font-weight: 400;
    line-height: 27px;
    margin: 0;
    padding-bottom: 23px;
    border-bottom: 1px solid #DADADA;
    width: 100%;
}

.techs__text-container {
    display: flex;
    flex-direction: column;
    gap: 26px;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    color: #fff;
    font-style: normal;
    text-align: center;
    margin: 90px auto 100px auto;
} 

.techs__text-container_title {
    font-weight: 300;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    margin: 0;
    padding: 0;
    max-width: 600px;
}

.techs__text-container_text {
    max-width: 460px;
    width: 100%;
    min-height: 40px;
    margin: 0;
    padding: 0;
    letter-spacing: -0.04em;
    line-height: 20px;
    font-size: 14px;
}

.techs__techs-container {
    padding: 0px;
	margin: 0px;
	border: none;
    list-style: none;
    max-width: 690px;
    display: flex;
    gap: 10px;
    min-height: 60px;
    justify-content: center;
    align-items: center;
    align-content: baseline;
}

.techs__techs-container_techs {
    text-decoration: none;
    list-style: none;
    width: 90px;
    min-height: 60px;
    background-color: #303030;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: -0.04em;
}

@media screen and (max-width: 768px) {
    .techs {
        min-height: 567px;
        height: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }
    .techs__text-container {
        margin: 0;
        min-height: 279px;
        height: 100%;
    }
    .techs__text-container_text {
        font-size: 12px;
        line-height: 18px;
    }
    .techs__techs-container_techs {
        width: 84px;
        height: 57px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .techs {
        background-color: #202020;
        padding: 0 18px;
    }
    .techs__title {
        font-size: 18px;
        margin-top: 125px;
    }
    .techs__text-container {
        min-height: 292px;
        gap: 15px;
        margin-top: -40px;
    }
    .techs__text-container_title {
        font-size: 30px;
    }
    .techs__text-container_text {
        font-size: 11px;
        line-height: 16px;
        max-width: 292px;
    }
    .techs__techs-container {
        display: grid;
        grid-template-columns: repeat(2, 84px);
        margin-bottom: 69px;
        width: 178px;
        gap: 10px 10px;
        margin-top: -50px;
    }
    .techs__techs-container_techs {
        width: 84px;
        height: 57px;
    }
}
