.more-movies {
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 130px;
    padding: 0 70px;
    margin-bottom: 44px;
}

.more-movies__button {
    color: #fff;
    background-color: #2F2F2F;
    height: 36px;
    max-width: 1140px;
    width: 100%;
    border: none;
    font-size: 12px;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    cursor: pointer;
}

.more-movies__button:hover {
    opacity: 0.6;
}

.more-movies__button_hidden {
    background-color: #202020;
    cursor: default;
}

@media screen and (max-width: 1140px) {
    .more-movies {
        padding: 35px 30px;
    }
}

@media screen and (max-width: 767px) {
    .more-movies {
        padding: 0 10px;
    }
}